{% extends "base.html" %}

{% block title %}About Us{% endblock title %}
{% block page %}
<div class="container text-center m-5">
    <h1 class="fw-bold">“About Us”</h1>
    <h4 class="mt-3">“Building Systems for Complex Realities.”</h4>
</div>

<div class="row m-5">
    <h4>Twinpeaks is a consulting firm focused on designing and implementing systems that solve complex problems. <p>We combine structured thinking, emerging technologies such as AI, and a deep understanding of real-world environments to create solutions that are both advanced and practical.</p></h4>
</div>
<div class="row m-5">
    <div class="col-4 text-center align-self-center">
        <h3>What Defines Our Work</h3>
    </div>
    <div class="col px-4">
        <ul>
            <li><h4>System design over fragmented solutions.</h4></li>
            <li><h4>Integration of technology, including AI, where it improves outcomes.</h4></li>
            <li><h4>Strong grounding in grassroots and operational realities.</h4></li>
            <li><h4>Focus on long-term functionality, not short-term fixes.</h4></li>
        </ul>
    </div>
</div>
<hr>
<div class="container text-center m-5">
    <h4>“We are building a firm that connects advanced capability with real-world execution.”</h4>
</div>
{% endblock page %}