{% extends "base.html" %}

{% block title %}Work With Us {% endblock title %}
{% block page %}
<div class="container text-center my-5 mx-0 mx-md-5">
    <h1 class="fw-bold font-clash">"Work With Twinpeaks"</h1>
    <h4 class="mt-3 font-inter">“We collaborate with those looking to build systems, solve complexity, and operate with clarity.”</h4>
</div>
<!-- <div class="row">
    <div class="col-md-4 text-center align-self-center">
        <h2>Who We Work With :</h2>
    </div>
    <div class="col">
        <ul>
        <li><h5>Organizations looking to design and implement efficient, scalable systems.</h5></li>
        <li><h5>Institutions building long-term frameworks across education, operations, and strategy.</h5></li>
        <li><h5>Government and public bodies working on policy, program design, and large-scale implementation.</h5></li>
        <li><h5>Small and growing firms seeking automation, structure, and technology integration.</h5></li>
        <li><h5>Students seeking structured academic and career pathways through our dedicated initiatives.</h5></li>
    </ul>
    </div>
</div>
<hr> -->
<div class="d-md-flex justify-content-md-center align-items-md-center" style="min-height: 40vh;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center align-self-center mb-4">
                <h2 class="font-clash fw-bold">Contact Us :</h2>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-md-4 text-center mb-3">
                        <h3 class="font-clash fw-bold">R&D Office :</h3>
                        <h5 class="font-inter">San Jose, California, USA</h5>
                    </div>
                    <div class="col-md-4 text-center mb-3">
                        <h3 class="font-clash fw-bold">Corporate Office :</h3>
                        <h5 class="font-inter">Raipur, Chhattisgarh, India</h5>
                    </div>
                    <div class="col-md-3 text-center">
                        <h3 class="font-clash fw-bold">Email :</h3>
                        <h5 class="font-inter"> info@twinpeaksconsultancy.com </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="container text-center my-5 mx-0 mx-md-5">
    <h2 class="font-clash fw-bold">Building Something Complex?</h2>
    <h4 class="font-inter">
        We help structure, simplify, and execute.
    </h4>
</div>
{% endblock page %}