{% extends "base.html" %}

{% block title %}Work With Us {% endblock title %}
{% block page %}
<div class="container text-center m-5">
    <h1 class="fw-bold">"Work With Twinpeaks"</h1>
    <h4 class="mt-3">“We collaborate with those looking to build systems, solve complexity, and operate with clarity.”</h4>
</div>
<div class="row">
    <div class="col-4 text-center align-self-center">
        <h2>Who We Work With :</h2>
    </div>
    <div class="col">
        <ul>
        <li><h5>Organizations looking to design and implement efficient, scalable systems.</h5></li>
        <li><h5>Institutions building long-term frameworks across education, operations, and strategy.</h5></li>
        <li><h5>Government and public bodies working on policy, program design, and large-scale implementation.</h5></li>
        <li><h5>Small and growing firms seeking automation, structure, and technology integration.</h5></li>
        <li><h5>Students seeking structured academic and career pathways through our dedicated initiatives.</h5></li>
    </ul>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-4 text-center align-self-center">
        <h2>How We Engage :</h2>
    </div>
    <div class="col">
        <h5>Every engagement begins with understanding the system, not just the symptom. <br>
        We combine analytical frameworks, AI-enabled tools where relevant, and a grounded understanding of execution environments to design solutions that work in practice—not just in concept.</h5>
        <div class="row">
            <div class="col-4 text-center align-self-center">
                <h2>Process</h2>
            </div>
            <div class="col">
                <ul>
                    <li><h5>Initial Consultation.</h5></li>
                    <li><h5>System Mapping.</h5></li>
                    <li><h5>Design & Integration.</h5></li>
                    <li><h5>Execution Support.</h5></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="container text-center m-5">
    <h2>Building Something Complex?</h2>
    <h4>
        We help structure, simplify, and execute.
    </h4>
</div>
{% endblock page %}